PYTHON_ENV=dev

DB_TYPE=postgresql
DB_NAME=boiler_plate
DB_USER=username
DB_PASSWORD=1130523688
DB_HOST="localhost"
DB_PORT=5333
MYSQL_DRIVER=
DB_URL=postgresql://username:1130523688@localhost:5333/boiler_plate
SECRET_KEY = ""
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 3000
JWT_REFRESH_EXPIRY=7
APP_URL=

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FRONTEND_URL='http://127.0.0.1:3000/login-success'

TESTING=''

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM="dummy@gmail.com"
MAIL_PORT=465
MAIL_SERVER="smtp.gmail.com"

TWILIO_ACCOUNT_SID="MOCK_ACCOUNT_SID"
TWILIO_AUTH_TOKEN="MOCK_AUTH_TOKEN"
TWILIO_PHONE_NUMBER="TWILIO_PHONE_NUMBER"

FLUTTERWAVE_SECRET=""
PAYSTACK_SECRET=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

MAILJET_API_KEY='MAIL JET API KEY'
MAILJET_API_SECRET='SECRET KEY'

APP_NAME="fastapi_boilerplate"

TELEX_WEBHOOK_URL=""
