name: Staging cd pipeline
on:
  push:
    branches: [staging]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build image
        run: docker build -t anchor-python-bp-staging:latest -f docker/staging/Dockerfile .

      - name: Save image 
        run: docker save anchor-python-bp-staging:latest | gzip > staging.tar.gz

      - name: Copy image to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "staging.tar.gz"
          target: "/home/${{ secrets.USERNAME }}/boilerplate-python/staging_source_code/docker/staging"
 
      - name: Deploy image on server
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /home/${{ secrets.USERNAME }}/boilerplate-python/staging_source_code/docker/staging
            git pull origin staging
            docker load --input staging.tar.gz
            docker-compose -f docker-compose.yml up -d
            rm -f staging.tar.gz
